%h1 Listing Sub-modules

%table
	%tr
		%th 
		%th 
		%th
		%th
		%th
	- @sub_modules.each do |p|
		%tr
			%td= p.properties.first.value
			%td= link_to 'Show', p
			%td= link_to 'Delete',  sub_module_path(@p_module, p), method: :delete, data:{confirm: 'Are you sure?'} 


= link_to 'Back', @p_module
