.panel-body
  .col-md-3
    %div{:style => "height:100px;float:left"}
      %button{"data-target" => "#"+id.to_s, "data-toggle" => "collapse"}
        = comment.student_program.user.email
  .col-md-9
    .collapse.width{:style => "height:100px", :id => id}
      .panel.panel-default
        .panel-heading.text-center
          Envoyé à 
          = comment.updated_at
        .panel-body
          %p
            = comment.content
          = render comment.answers

