- if object.errors.any?
  .text-center
    %h4 Votre justification n'a pas été crée
  - object.errors.full_messages.each do |msg|
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      = msg