.panel.panel-default
  .panel-heading
    .text-center
      %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#"+div}
        = name
  .panel-collapse.collapse{:id => div}
    .panel-body
      - constraints.each do |c|
        - c.courses.each do |course|
          = link_to course.name, course, class: "btn btn-primary btn-block"