%h1 Listing courses
%table
	%tr
		%th 
		%th
		%th
		%th
		%th
		%th
	- @courses.each do |c|
		%tr
			%td= c.name
			%td= link_to 'Show', c
			%td= link_to 'Delete', c, method: :delete, data: { confirm: 'Are you sure?'}

= link_to 'Back', polymorphic_url(@context)

