%h1 Listing courses
%table
	%tr
		%th 
		%th
		%th
		%th
		%th
		%th
	- @courses.each do |c|
		%tr
			%td= c.properties.first.value
			%td= link_to 'Show', c
			%td= link_to 'Delete', course_path(c), method: :delete, data: { confirm: 'Are you sure?'}

= link_to 'Back', polymorphic_url([@context, @course])

