.col-md-8.col-md-offset-2
  .panel.panel-default
    .panel-heading
      .text-center
        = @course.name
        .pull-right
          = link_to  @course, method: :delete, data: { confirm: 'Are you sure?'} do
            %span.glyphicon.glyphicon-remove
    .panel-heading.text-center
      = link_to @back do
        %span.glyphicon.glyphicon-chevron-left
          Retour vers la page précédente
    .panel-body.text-center
      = link_to 'Contraintes', course_constraints_path(@course)