%p
	%strong Course Name:
	= @course.name
%p
	%strong Course Sigle:
	= @course.sigle

= link_to 'Edit', edit_catalog_program_p_module_course_path(@catalog, @program, @p_module, @course)
= link_to 'Back', catalog_program_p_module_courses_path(@catalog, @program, @p_module)