- @course.properties.each do |p|
	%p
		%strong
			= p.p_type + ":"
		= p.value
    
= link_to 'Constraints', course_constraints_path(@course)
= link_to 'Delete', @course, method: :delete, data: { confirm: 'Are you sure?'}