.col-md-8.col-md-offset-2
	%h2.text-center
		Modules
	.panel.panel-default
		.panel-heading.text-center
			= link_to @parent do
				%span.glyphicon.glyphicon-chevron-left
					Retour vers la page précédente
		.panel-body
			%table.table.table-bordered
				%thead
					%tr
						%th.text-center NOM
						- if current_user.admin? 
							%th
				%tbody
					- @p_modules.each do |p|
						%tr
							%td= link_to p.name, p, class: "btn btn-primary btn-block"
							- if current_user.admin?
								%td= link_to 'Supprimer', p, method: :delete, data:{confirm: 'Are you sure?'}, class: "btn btn-primary btn-block"

