.col-md-8.col-md-offset-2
  .panel.panel-default
    .panel-body
      %table.table.table-striped.table-centered
        %thead.text-center
          %th Étudiant
          %th Année Académique
          %th Action
        %tbody
          - @years.each do |year|
            %tr
              %td
                = year.student_program.user.email
              %td
                = year.academic_year.name
              %td
                .btn-group
                  %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                    Action
                    %span.caret
                  %ul.dropdown-menu
                    %li
                      = link_to "Réussie", year_year_pass_path(year)
                    %li
                      = link_to "Ratée", year_year_fail_path(year)