%h1 Listing program modules

%table
	%tr
		%th
		%th
		%th
		%th
		%th
		%th
	- @p_modules.each do |p|
		%tr
			%td= p.properties.first.value
			%td= link_to 'Show', p
			%td= link_to 'Delete', p_module_path(@program, p), method: :delete, data:{confirm: 'Are you sure?'}

= link_to 'Back', @program

