%h1 Listing programs
%table
	%tr
		%th 
		%th
		%th
		%th
		%th
	- @programs.each do |p|
		%tr
			%td= p.properties.first.value
			%td= link_to 'Show', p
			%td= link_to 'Delete', program_path(@catalog, p), method: :delete, data: { confirm: 'Are you sure?'}

= link_to 'Back', @catalog

 