.panel.panel-default
  .panel-heading.text-center
    = link_to validations_path do
      %span.glyphicon.glyphicon-chevron-left
        Retour vers la page précédente
  .panel-heading.text-center
    Programme de l'étudiant
    = student_program.user.email
  .panel.panel-body
    