- years.each do |c|
  .btn-group.btn-group-justified 
    = link_to c.academic_year.name, c, class: "btn btn-primary btn-block"
    = link_to "Modifier", edit_year_path(c), class: "btn btn-primary btn-block"
    = link_to "Supprimer", c, method: :delete, data: {confirm: 'Êtes vous sûr?'}, class: "btn btn-danger btn-block", disabled: (c.passed? or c.failed?)

= link_to 'Ajouter une nouvelle année', new_student_program_year_path(@student_program), class: "btn btn-default btn-block"