.col-md-8.col-md-offset-2
  %h2.text-center Programme d'étudiant
  .panel.panel-default
    .panel-heading
    .panel-body
      %p
        = link_to "Configurer le programme de cours", student_program_years_path(@student_program)
      %p
        = link_to "Informations sur le programme choisi", @student_program.program