.col-md-10.col-md-offset-1
  %h2.text-center Programme d'étudiant
  - if current_user.admin?
    = render 'admin_show', student_program: @student_program
  - else
    = render 'user_show', student_program: @student_program
    