.col-md-8.col-md-offset-2
  .panel.panel-default
    .panel-heading.text-center
      = link_to @student_program do
        %span.glyphicon.glyphicon-chevron-left
          Retour vers la page précédente
    .panel-body
      .progress
        .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: 60%;"}
          x/y crédtis