%h4.text-center.help-block{:style => 'color: red;'} Le corequis doit être suivit au plus tard la MÊME année
%table.table.table-striped
  %thead
    %tr
      %th.text-center Cours sélectionné
      %th.text-center Corequis manquant
      %th.text-center 
        %span.label.label-danger
          JUSTIFICATION
  %tbody
    = f.fields_for :constraint_exceptions, exceptions  do |builder|

      %tr
        %td.text-center
          = builder.object.entity.course.name
        %td.text-center
          = builder.object.entity.courses.first.name
        %td.text-center
          = render "student_programs/check/edit_constraint_exception", f: builder, constraint_exception: builder.object, label: false
