- exceptions.each do |exception|
  .panel.panel-default
    .panel-heading.text-center
      Le cours
      = exception.entity.course.name
      nécessite AU MOINS un des corequis suivant
    .panel-body
      .col-md-4
        %table.table.table-bordered
          %thead
            %tr
              %th.text-center Corequis manquant
          %tbody
            - exception.entity.courses.each do |course|
              %tr
                %td.text-center
                  = course.name
      .col-md-8