%h4.text-center.help-block{:style => 'color: red;'} Le prérequis doit être suivit au plus tard l'année PRÉCÉDENTE
= f.fields_for :constraint_exceptions, exceptions do |builder|
  .panel.panel-default
    .panel-heading.text-center
      Le cours
      = builder.object.entity.course.name
      nécessite AU MOINS un des prérequis suivant
    .panel-body
      .col-md-4
        %table.table.table-bordered
          %thead
            %tr
              %th.text-center Prérequis manquant
          %tbody
            - builder.object.entity.courses.each do |course|
              %tr
                %td.text-center
                  = course.name
      .col-md-8
        = render "student_programs/check/edit_constraint_exception", f: builder, constraint_exception: builder.object, label: true
