%h4.text-center.help-block{:style => 'color: red;'} Le corequis doit être suivit au plus tard la MÊME année
- exceptions.each do |exception|
  .panel.panel-default
    .panel-heading.text-center
      Le cours
      = exception.entity.course.name
      nécessite AU MOINS un des corequis suivant
    .panel-body
      .col-md-4
        %table.table.table-bordered
          %thead
            %tr
              %th.text-center Corequis manquant
          %tbody
            - exception.entity.courses.each do |course|
              %tr
                %td.text-center
                  = course.name
      .col-md-8
        = render "student_programs/check/edit_constraint_exception", f: f, constraint_exception: exception, label: true