%h4.text-center.help-block{:style => 'color: red;'} Le prérequis doit être suivit au plus tard l'année PRÉCÉDENTE
%table.table.table-striped
  %thead
    %tr
      %th.text-center Cours sélectionné
      %th.text-center Prérequis manquant
      %th.text-center 
        %span.label.label-danger
          JUSTIFICATION

  %tbody
  - exceptions.each do |exception|

    %tr
      %td.text-center
        = exception.entity.course.name
      %td.text-center
        = exception.entity.courses.first.name
      %td.text-center
        = render "student_programs/check/edit_constraint_exception", f: f, constraint_exception: exception, label: false
