.navbar.navbar-default.navbar-fixed-top
  = include_gon
  .navbar-header
    .container-fluid
      = link_to "Home", root_path, class: 'navbar-brand'
      %nav
        / %ul.nav.pull-right
        /   - if signed_in?
        /     %li= link_to "Users", '#'
        /     %li#fat-menu.dropdown
        /       %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        /         Account
        /         %b.caret
        /       %ul.dropdown-menu
        /         %li= link_to "Profile", current_user
        /         %li= link_to "Settings", '#'
        /         %li.divider
        /         %li
        /           = link_to "Sign out", signout_path, method: "delete"
        /   - else
        /     %li= link_to "Sign in", signin_path
  .collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li
        = link_to "Catalogs", catalogs_path