.jumbotron
  %h1 
    Curriculum MGMT
  %p Bienvenue sur la plateforme de gestion des programmes de cours.
  - if ! user_signed_in?
    = link_to "Connexion",  new_user_session_path, class: "btn btn-lg btn-success"
    = link_to "Créer un comte", new_user_registration_path, class: "btn btn-lg btn-primary"
