
%table.table.table-bordered
  %thead
    %tr
      %th.text-center SIGLE 
      %th
    %tbody
      - courses.each do |c|
        %tr
          %td= link_to c.name, c, class: "btn btn-primary btn-block"
          %td= link_to 'Supprimer', c, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-primary btn-block"