
%table.table.table-bordered
  %thead
    %tr
      %th.text-center SIGLE
      %th.text-center CRÉDITS
    %tbody
      - courses.each do |c|
        %tr
          %td.text-center= link_to c.name, c, class: "btn btn-primary btn-block"
          %td.text-center= c.credits