
%table.table.table-bordered.table-stripped
  %thead
    %tr
      %th.text-center Sigle
      %th.text-center Infos
    %tbody
      - courses.each do |c|
        %tr
          %td.text-center= c.name
          %td.text-center
            = link_to c do
              %span.glyphicon.glyphicon-zoom-in