.col-md-8.col-md-offset-2
  .panel.panel-default
    .panel-heading.text-center
      %h4 Demandes de validation
    .panel-body
      %table.table.table-bordered
        %thead
        %tbody
        - @validations.each do |validation|
          .row
            .col-md-4
              .btn-group
                %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                  Plus d'informations
                  %span.caret
                %ul.dropdown-menu
                  %li
                    = link_to "Programme", validation.student_program
                  %li
                    = link_to "Justifications", student_program_justifications_path(validation.student_program)
            .col-md-4
              = link_to "Valider", validation_validate_path(validation), data: {confirm: 'Êtes vous sûr?'}, class: "btn btn-success btn-block"
            .col-md-4
              = link_to "Refuser", validation, method: :delete, data: {confirm: 'Êtes vous sûr?'}, class: "btn btn-danger btn-block" 