.col-md-8.col-md-offset-2
  .panel.panel-default
    .panel-heading.text-center
      = link_to validations_path do 
        %span.glyphicon.glyphicon-chevron-left
          Retour vers la liste des validations
    .panel-body