.col-md-8.col-md-offset-2
  %h3.text-center
    Années du programme de cours
  .panel.panel-default
    .panel-heading.text-center
      Années
    .panel-body
      - i = 1
      - @years.each do |c|
        = link_to i.to_s+" - Plus d'infos", c, class: "btn btn-primary btn-lg btn-block"
        - i = i + 1
      = link_to 'Ajouter une nouvelle année', new_student_program_year_path(@student_program), class: "btn btn-default btn-block"

