.col-md-8.col-md-offset-2
  %h2.text-center Année
  .panel.panel-default
    .panel-heading.text-center
      = link_to @back do
        %span.glyphicon.glyphicon-chevron-left
          Retour vers la page précédente
    .panel-body
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#first_semester"} Premier Quadri
        %li
          %a{"data-toggle" => "tab", :href => "#second_semester"} Second Quadri
      .tab-content
        #first_semester.tab-pane.active
          .panel.panel-default
            .panel-heading.text-center
              Cours
            .panel-body
              = render 'years/show/courses', courses: @year.first_semester.courses
        #second_semester.tab-pane
          .panel.panel-default
            .panel-heading.text-center
              Cours
            .panel-body
              = render 'years/show/courses', courses: @year.second_semester.courses    
