.navbar.navbar-default.navbar-fixed-top
  .navbar-header
    .container-fluid
      = link_to "Home", root_path, class: 'navbar-brand'

  
  .navbar-collapse.collapse
    %ul.nav.navbar-nav
      %li
        = link_to "Catalogues", catalogs_path
      %li
        = link_to "Programmes des étudiants", student_programs_path
      %li
        = link_to "Demandes de validation", validations_path