.panel.panel-default
  .panel-heading
    .text-center
      %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#"+id.to_s}
        = justification.student_program.user.email
  .panel-collapse.collapse{:id => id}
    .panel-body
      %p
        = simple_format(justification.content)
      = render 'answers', answers: comment.answers
      = render 'new_answer', justification: justification, answer: answer

/ .panel-body
/   .row
/     .col-md-3
/       %div{:style => "float:left"}
/         %button{"data-target" => "#"+id.to_s, "data-toggle" => "collapse"}
/           = comment.student_program.user.email
/   .row
/     .col-md-9.col-md-offset-3
/       .collapse.width{:style => "height:500px", :id => id}
/         .panel.panel-default
/           .panel-heading.text-center
/             Envoyé à 
/             = comment.updated_at
/           .panel-body
/             %p
/               = comment.content
/             = render 'answers', answers: comment.answers
/             = render 'new_answer', comment: comment, answer: answer


